{% extends "poll/base.html" %}

{% block title %}Update Profile{% endblock %}

{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static 'poll/css/edit_profile.css' %}">
{% load widget_tweaks %}

<div class="form-container mt-5">
    <h2>My Profile</h2>
    <form action="" method="POST">
      {% csrf_token %}
      {% for field in form %}
        <div class="form-group">
          {% if field.errors %}
            <ul>
              {% for error in field.errors %}
                <li>{{ error }}</li>
              {% endfor %}
            </ul>
          {% endif %}
          <label for="{{ field.id_for_label }}">{{ field.label }}</label>
          {% render_field field class="form-control" %}
          {% if field.help_text %}
            <small class="form-text text-muted">{{ field.help_text }}</small>
          {% endif %}
        </div>
      {% endfor %}
      
      <button type="submit" class="btn">Update</button>
    </form>
</div>
{% endblock %}
