{% extends 'poll/base.html' %}
{% load static %}

{% block content %}
<link rel="stylesheet" href="{% static 'poll/css/my_ballot.css' %}">

<div class="container mt-5">
  <div class="card shadow-lg rounded-4 p-4">
    <h2 class="title text-center mb-4">Your Ballot Receipt</h2>

    {% if event_name %}
      <p class="text-center text-muted event-name"> <strong>{{ event_name }}</strong></p>
    {% endif %}


    {% if votes %}
      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">Position</th>
            <th scope="col">Candidate</th>
            <th scope="col">Timestamp</th>
          </tr>
        </thead>
        <tbody>
          {% for vote in votes %}
            <tr>
              <td>{{ vote.candidate.position.title }}</td>
              <td>{{ vote.candidate.name }}</td>
              <td>{{ vote.timestamp|date:"M d, Y H:i" }}</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    {% else %}
      <p class="text-center text-muted">You have not voted yet.</p>
    {% endif %}
  </div>
</div>

{% endblock %}
